.showout{
    position: relative;
    left: 50%;
    width: 70%;
    /* background-color: brown; */
    transform: translate(-50%);
}
.showin{
    position: relative;
    left: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    transform: translate(-50%);
}
.showin .item{
    margin-bottom: 8px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    width: 250px;
    height: 290px;
    border: 1px solid black;
}
